<%= image_tag "stimulusjs.png", alt: "Stimulus JS", width: 72, class: "d-block mx-auto mb-4" %>
<h1 class="display-5 fw-bold">Stimulus & Hotwire</h1>
<div class="col-lg-6 mx-auto">
  <p class="lead mb-4">Mejoras practicas y usecases de aplicación de Stimulus.js y Hotwire en una aplicación Rails. Los 40 kbytes de Javascript que reemplazan un framework completo.</p>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-5">
    <%= link_to "Selects con Stimulus", pages_selects_path, class: "btn btn-outline-dark btn-block px-4 me-sm-3" %>
    <%= link_to "Formularios con Hotwire", addresses_path, class: "btn btn-outline-dark tn-block  px-4 me-sm-3" %>
  </div>
</div>
